.contact__content{
    text-align: center;
    p{
        &:first-child{
            font-size: $fs-5 - 1;
            color:$color-gray-2;
            letter-spacing: $ls-1 - 2;
            font-weight: $fw-1;
        }
        
        a{
            font-size: $fs-7;
            color:$color-orange-1;
            text-decoration: none;
        }
    }
}