.movieList{
    background-color: #101010;
    .movieList__item{
        position: relative;
        border-radius: $br-3;
        overflow: hidden;
        .movieList__overlay{
            position: absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            background-color: $color-black-1;
            opacity: 0.4;
            transition: .5s;
        }
        &:hover .movieList__overlay{
            opacity: 0;
        }
    }
}