// color 
$color-gray-0: #717171;
$color-gray-1: rgba(255,255,255,0.2);
$color-gray-2: #4a4a4a;
$color-orange-0: #ec7532;
$color-orange-1: #fbbd61;
$color-white-0:white;
$color-white-1:#d8d8d8;
$color-black-0:black;
$color-black-1:#101010;
$color-black-2:#333;

//big size
$bs-1:48px;
$bs-2:650px;
$bs-3:125px;
$bs-4:80px;
$bs-5:33px;

// font size
$fs-0: 14px;
$fs-1: 2rem;
$fs-2: 1.125rem;
$fs-3: 3.25rem;
$fs-4: 0.8rem;
$fs-5: 24px;
$fs-6: 34px;
$fs-7: 46px;

//font weight
$fw-bold: bold;
$fw-1: 300;
$fw-2: 700;

//line height
$lh-1: 0.8em;
$lh-2: 48px;
$lh-3: 80px;
$lh-4: 33px;

//letter spacing
$ls-1: 3px;
$ls-2: 1.7px;

//border radius
$br-1:50%;
$br-2:30px;
$br-3:10px;

//padding
$pd-0: 0px;
$pd-1: 20px;
$pd-2: 12px;
$pd-3: 75px;
$pd-4: 30px;

//margin
$mg-0:0px;
$mg-1:20px;
$mg-2:10px;
$mg-3:40px;
$mg-4:1rem;